
 <div class="lt-hero-unit lt-container">
    {{!-- Info box --}}
    {{#if settings.show_info_block}}
      <div class="lt-container lt-pt-5 lt-pt-lg-0 lt-pb-7 lt-pb-lg-9">
        <div class="lt-container-inner rte info-block" id="info-block" role="region" aria-labelledby="banner-title">
          <div class="callout callout-lazy
            {{#is settings.info_block_severity 'info'}}callout--info{{/is}}
            {{#is settings.info_block_severity 'warning'}}callout--warning{{/is}}
            {{#is settings.info_block_severity 'success'}}callout--success{{/is}}
            {{#is settings.info_block_severity 'danger'}}callout--danger{{/is}}">
            <h4 class="callout__title" id="banner-title">{{settings.info_block_title}}</h4>
            <p format-text>{{settings.info_block_text}}</p>
          </div>
        </div>
      </div>
    {{/if}}

    <div class="lt-container-inner lt-hero-unit__wrapper lt-d-flex lt-flex-column lt-flex-lg-row lt-justify-content-lg-between">
      <div class="lt-flex-lg-grow-1">
        <div id="main-content" role="main">
          <div class="lt-container" id="products">
            <div class="lt-container-inner">
              <section aria-labelledby="sectionHeading-products-title" class="lt-pb-5 lt-pb-lg-7" id="product-list">
                <div class="lt-section-heading lt-mb-4 lt-mb-lg-7">
                  <h2 id="sectionHeading-products-title" class="lt-section-heading__title lt-fs-title-responsive lt-m-0">{{settings.home_title}}</h2>
                  <h3 id="sectionHeading-products" class="lt-section-heading__title lt-fs-2 lt-m-0 lt-mt-3">{{settings.products_title}}</h3>
                </div>
                <ul class="lt-custom-block-list lt-p-0 lt-mb-0 lt-row lt-row-cols-md-{{settings.products_per_line}} lt-gy-5 lt-row-cols-md-{{settings.products_per_line}}-fixed" role="list">
                  
                  {{!-- pagopa --}}
                  <li class="lt-custom-block-item lt-d-flex" role="listitem">
                    <article
                      class="lt-custom-block-item__card lt-block lt-block--shadow lt-p-4 lt-p-lg-5 lt-d-flex lt-w-100 lt-h-100 lt-position-relative">
                      <div class="product-logo-container">
                        <img class="product-logo" src="{{settings.pagopa_product_icon}}" style="height: 42px;" />
                      </div>

                      <h4 class="lt-custom-block-item__title lt-mb-4 lt-fs-4">{{settings.pagopa_product_title}}</h4>
                      <span class="lt-custom-block-item__desc lt-fs-6 lt-mb-3 lt-mt-auto">{{settings.pagopa_product_subtitle}}</span>
                      <a class="lt-d-block lt-btn lt-btn--square lt-btn--dark lt-mt-2 lt-mb-2" aria-label="Vai al centro assistenza di pagoPA" href="{{settings.pagopa_product_url}}">
                        {{settings.product_hc_button}}
                      </a>
                      <div class="real-website-label">
                        <span format-text>{{settings.pagopa_product_website}}</span>
                      </div>
                    </article>
                  </li>
                  {{!-- io --}}
                  <li class="lt-custom-block-item lt-d-flex" role="listitem">
                    <article
                      class="lt-custom-block-item__card lt-block lt-block--shadow lt-p-4 lt-p-lg-5 lt-d-flex lt-w-100 lt-h-100 lt-position-relative">
                      <div class="product-logo-container">
                        <img class="product-logo" src="{{settings.io_product_icon}}" style="height: 48px;" />
                      </div>

                      <h4 class="lt-custom-block-item__title lt-mb-4 lt-fs-4">{{settings.io_product_title}}</h4>
                      <span class="lt-custom-block-item__desc lt-fs-6 lt-mb-3 lt-mt-auto">{{settings.io_product_subtitle}}</span>
                      <a class="lt-d-block lt-btn lt-btn--square lt-btn--dark lt-mt-2 lt-mb-2" aria-label="Vai al centro assistenza dell'app IO" href="{{settings.io_product_url}}">
                        {{settings.product_hc_button}}
                      </a>
                      <div class="real-website-label">
                        <span format-text>{{settings.io_product_website}}</span>
                      </div>
                    </article>
                  </li>
                  {{!-- send --}}
                  <li class="lt-custom-block-item lt-d-flex" role="listitem">
                    <article
                      class="lt-custom-block-item__card lt-block lt-block--shadow lt-p-4 lt-p-lg-5 lt-d-flex lt-w-100 lt-h-100 lt-position-relative">
                      <div class="product-logo-container">
                        <img class="product-logo" src="{{settings.send_product_icon}}" style="height: 28px; margin-top: 8px" />
                      </div>

                      <h4 class="lt-custom-block-item__title lt-mb-4 lt-fs-4">{{settings.send_product_title}}</h4>
                      <span class="lt-custom-block-item__desc lt-fs-6 lt-mb-3 lt-mt-auto">{{settings.send_product_subtitle}}</span>
                      <a class="lt-d-block lt-btn lt-btn--square lt-btn--dark lt-mt-2 lt-mb-2" aria-label="Vai al centro assistenza di SEND" href="{{settings.send_product_url}}">
                        <span>{{settings.product_hc_button}}</span>
                      </a>
                      <div class="real-website-label">
                        <span format-text>{{settings.send_product_website}}</span>
                      </div>
                    </article>
                  </li>

                </ul>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>