<div class="lt-start-screen-wrap lt-container">
  <div class="lt-container-inner">
    <div class="lt-breadcrumbs-wrapper lt-pt-lg-5 lt-pb-lg-4">{{breadcrumbs}}</div>
    <div class="lt-row lt-align-items-sm-center">
      <div class="lt-search-box lt-search-box--small lt-search-box--icon lt-mb-4 lt-col-sm-12 lt-col-lg-4 lt-align-self-lg-start lt-d-print-none">
          {{search instant=true submit=false placeholder=settings.search_placeholder}}
      </div>
      <div class="lt-page__heading lt-col-sm-12 lt-col-lg-8">
        <h1 class="lt-page__title lt-mb-3 lt-order-md-0">{{t 'topics'}}</h1>
      </div>
    </div>
  </div>
  <div class="lt-hero-unit__decor">
      <div class="lt-hero-unit__decor--svg">
        <svg width='1440' height='91'  fill='none' xmlns='http://www.w3.org/2000/svg'>
          <path class="lt-hero-unit__decor--path" width="100%" d='M0 7H1920V91L0 7Z' fill-opacity='0.05'/>
        </svg>
      </div>
      <div class="lt-hero-unit__decor--svg">
        <svg width='1440' height='91'  fill='none' xmlns='http://www.w3.org/2000/svg'>
          <path class="lt-hero-unit__decor--path" width="100%" d='M0 7H1920V0.5L0 43L0 7Z' fill-opacity='0.1'/>
        </svg>
      </div>
    </div>
</div>

<div class="lt-container lt-pb-9 lt-position-relative lt-pt-6 lt-pt-lg-8">
  <div class="lt-container-inner">
    <nav class="lt-community-nav lt-mb-4">
      <ul class="lt-list-unstyled lt-d-md-flex lt-align-items-center">
        <li class="lt-community-nav-item is-active">{{t 'topics'}}</li>
        <li class="lt-community-nav-item">{{link 'posts'}}</li>
        <li class="lt-community-nav-item lt-ms-md-auto">{{link 'new_post' role='button' class='lt-btn lt-btn--primary'}}</li>
      </ul>
    </nav>

    {{#if topics}}
      <ul class="lt-block-list lt-list-unstyled lt-row lt-row-cols-md-2 lt-gy-5 lt-mb-9" id="main-content">
        {{#each topics}}
          <li class="lt-block-list-item">
            <a class="lt-block-list-item__link lt-block lt-block--shadow lt-d-block lt-p-4 lt-p-lg-5 lt-w-100" href="{{url}}">
              <img class="lt-block-list-item__icon lt-mb-4" src="{{asset 'caregory_icon_topic.svg'}}" aria-hidden="true" />
              <div class="lt-block-list-item__content">
                <div class="lt-block-list-item__title lt-fs-5 lt-fw-bold lt-mb-1 lt-mb-md-2">{{name}}</div>
                {{#if description}}
                <div class="lt-block-list-item__text lt-fs-lg-6 lt-meta">{{description}}</div>
                {{/if}}
                <div class="lt-pt-1">{{t 'post_count' count=post_count}}, {{t 'follower_count' count=follower_count}}</div>
              </div>
            </a>
          </li>
        {{/each}}
      </ul>

      {{pagination}}
    {{else}}
      <p>{{t 'no_content'}}</p>
    {{/if}}

    {{#if featured_posts}}
      <section class="lt-promoted-articles">
        <h2>{{t 'featured_posts'}}</h2>
        <ul class="lt-list-unstyled lt-row lt-row-cols-sm-3 lt-gy-5">
          {{#each featured_posts}}
            <li class="lt-promoted-articles-item">
              <a class="lt-promoted-articles-item__title lt-d-block lt-mb-1"
                  href="{{url}}">
                {{title}}
              </a>
              <p class="lt-meta lt-mb-0">{{excerpt details characters=50}}</p>
            </li>
          {{/each}}
        </ul>
      </section>
    {{/if}}
  </div>
</div>
