<div class="lt-start-screen-wrap lt-container">
  <div class="lt-container-inner">
    <div class="lt-breadcrumbs-wrapper lt-pt-lg-5 lt-pb-lg-4">{{breadcrumbs}}</div>
    <div class="lt-row lt-align-items-sm-center">
      <div class="lt-search-box lt-search-box--small lt-search-box--icon lt-mb-4 lt-col-sm-12 lt-col-lg-4 lt-align-self-lg-start lt-d-print-none">
          {{search instant=true submit=false placeholder=settings.search_placeholder}}
      </div>
      <div class="lt-page__heading lt-col-sm-12 lt-col-lg-8">
        <h1 class="lt-page__title lt-mb-3 lt-order-md-0">
          {{t 'what_is_your_post_about'}}
        </h1>
      </div>
    </div>
  </div>
  <div class="lt-hero-unit__decor">
      <div class="lt-hero-unit__decor--svg">
        <svg width='1440' height='91'  fill='none' xmlns='http://www.w3.org/2000/svg'>
          <path class="lt-hero-unit__decor--path" width="100%" d='M0 7H1920V91L0 7Z' fill-opacity='0.05'/>
        </svg>
      </div>
      <div class="lt-hero-unit__decor--svg">
        <svg width='1440' height='91'  fill='none' xmlns='http://www.w3.org/2000/svg'>
          <path class="lt-hero-unit__decor--path" width="100%" d='M0 7H1920V0.5L0 43L0 7Z' fill-opacity='0.1'/>
        </svg>
      </div>
    </div>
</div>

<div class="lt-container lt-pb-9 lt-position-relative lt-pt-6 lt-pt-lg-8" id="main-content">
  <div class="lt-container-inner">
    <div class="lt-row">
      <div class="lt-col-md-8 lt-offset-md-2" id="main-content">
        <div class="lt-new-post-form">
          {{#form 'post' class='new_community_post'}}
            <div class="form-field">
              {{#required 'title'}}
                {{label 'title'}}
                {{else}}
                  {{#label 'title'}}
                    {{t 'title_label'}}<span class="optional">({{t 'optional'}})</span>
                  {{/label}}
              {{/required}}
              {{input 'title' autofocus=true}}
              {{#validate 'title'}}
                <div class="notification notification-error notification-inline">
                  {{error 'title'}}
                </div>
              {{/validate}}
            </div>

            {{suggestion_list class='searchbox'}}

            <div class="form-field">
              {{#required 'details'}}
                {{label 'details'}}
                {{else}}
                  {{#label 'details'}}
                    {{t 'details_label'}}<span class="optional">({{t 'optional'}})</span>
                  {{/label}}
              {{/required}}
              {{wysiwyg 'details'}}
              {{#validate 'details'}}
                <div class="notification notification-error notification-inline">
                  {{error 'details'}}
                </div>
              {{/validate}}
            </div>

            <div class="form-field">
              {{#required 'topic'}}
                {{label 'topic'}}
                {{else}}
                  {{#label 'topic'}}
                    {{t 'topic_label'}}<span class="optional">({{t 'optional'}})</span>
                  {{/label}}
              {{/required}}
              {{select 'topic'}}
              {{#validate 'topic'}}
                <div class="notification notification-error notification-inline">
                  {{error 'topic'}}
                </div>
              {{/validate}}
            </div>

            <footer>{{input type='submit'}}</footer>
          {{/form}}
        </div>
      </div>
    </div>
  </div>
</div>
