<div class="lt-start-screen-wrap lt-container">
  <div class="lt-container-inner">
    <div class="lt-breadcrumbs-wrapper lt-pt-lg-5 lt-pb-lg-4">{{breadcrumbs}}</div>
    <div class="lt-row lt-align-items-sm-center">
      <div class="lt-search-box lt-search-box--small lt-search-box--icon lt-mb-4 lt-col-sm-12 lt-col-lg-4 lt-align-self-lg-start lt-d-print-none">
          {{search instant=true submit=false placeholder=settings.search_placeholder}}
      </div>
      <div class="lt-page__heading lt-col-sm-12 lt-col-lg-8">
        <h1 class="lt-page__title lt-mb-3 lt-order-md-0">{{t 'my_activities' }}</h1>
      </div>
    </div>
  </div>
  <div class="lt-hero-unit__decor">
      <div class="lt-hero-unit__decor--svg">
        <svg width='1440' height='91'  fill='none' xmlns='http://www.w3.org/2000/svg'>
          <path class="lt-hero-unit__decor--path" width="100%" d='M0 7H1920V91L0 7Z' fill-opacity='0.05'/>
        </svg>
      </div>
      <div class="lt-hero-unit__decor--svg">
        <svg width='1440' height='91'  fill='none' xmlns='http://www.w3.org/2000/svg'>
          <path class="lt-hero-unit__decor--path" width="100%" d='M0 7H1920V0.5L0 43L0 7Z' fill-opacity='0.1'/>
        </svg>
      </div>
    </div>
</div>
 {{#if settings.request_list_beta}}
      
<div class="lt-container my-activities-page lt-pb-8 lt-pt-6 lt-pt-lg-8 lt-position-relative">
  <div class="lt-container-inner">
      {{request_list}}
  </div>
</div>
  {{else}}

<div class="lt-container my-activities-page lt-pb-8 lt-pt-6 lt-pt-lg-8 lt-position-relative">
  <div class="lt-container-inner">
    <nav class="lt-my-activities-menu lt-my-activities-menu--main lt-mb-4 lt-pb-3">
      <ul class="lt-list-unstyled lt-d-flex lt-flex-column lt-flex-sm-row lt-mt-0 lt-mb-0">
        <li class="lt-my-activities-menu-item is-active">
          {{t 'requests'}}
        </li>
        <li class="lt-my-activities-menu-item">
          {{link 'contributions' class='lt-my-activities-menu-item__link'}}
        </li>
        <li class="lt-my-activities-menu-item">
          {{link 'subscriptions' class='lt-my-activities-menu-item__link'}}
        </li>
      </ul>
    </nav>

    <nav class="lt-my-activities-menu lt-my-activities-menu--sub">
      <ul class="lt-list-unstyled lt-d-flex lt-flex-column lt-flex-sm-row">
        {{#each filters}}
          <li class="lt-my-activities-menu-item {{#if selected}} is-active {{/if}}">
            {{#if selected}}
              {{name}}
            {{else}}
              <a href="{{url}}">{{name}}</a>
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </nav>

    {{#form 'requests_filter' class='lt-request-table-toolbar'}}
      <div class="lt-request-table-filters">
        <div class="lt-request-table-filters__item">
          {{input 'query' id='quick-search' type='search' class='requests-search'}}
        </div>
        <div class="lt-request-table-filters__item">
          {{label 'organization' for='request-organization-select' class='request-filter-label'}}
          <div class="lt-request-table-organization">
            <div class="lt-request-table-organization__col lt-request-table-organization__col--main">
              {{select 'organization' id='request-organization-select' class='request-filter'}}
            </div>
            <div class="lt-request-table-organization__col lt-request-table-organization__col--button lt-organization-subscribe">
              {{subscribe}}
            </div>
          </div>
        </div>

        <div class="lt-request-table-filters__item">
          {{label 'status' for='request-status-select' class='request-filter-label'}}
          {{select 'status' id='request-status-select' class='request-filter'}}
        </div>
      </div>
    {{/form}}

    {{#if requests}}
      <table class="lt-my-activities-items lt-my-activities-items--{{current_filter.identifier}}-requests" id="main-content">
        <thead class="lt-my-activities-items__head">
          <tr class="lt-my-activities-items__row">
            <td class="lt-my-activities-items__col">{{t 'id'}}</td>
            <td class="lt-my-activities-items__col">{{t 'subject'}}</td>
            <td class="lt-my-activities-items__col">
              {{#is current_filter.identifier 'my'}}
                {{t 'created'}}
              {{else}}
                {{t 'requester'}}
              {{/is}}
            </td>
            <td class="lt-my-activities-items__col">{{#link 'requests' sort_by='updated_at'}}{{t 'last_activity'}}{{/link}}</td>
            <td class="lt-my-activities-items__col">{{t 'status'}}</td>
          </tr>
        </thead>
        <tbody class="lt-my-activities-items__body">
          {{#each requests}}
            <tr class="lt-my-activities-items__row lt-my-activities-item">
              <td class="lt-my-activities-items__col">
                <span class="lt-my-activities-items__request-id">{{t 'id'}}</span>  {{id}}
              </td>
              <td class="lt-my-activities-items__col">
                <a class="lt-my-activities-item__title" href="{{url}}">
                  {{#if subject}}
                    {{subject}}
                  {{else}}
                    {{excerpt description characters=50}}
                  {{/if}}
                </a>
              </td>
              <td class="lt-my-activities-items__col lt-my-activities-item__meta">
                {{#is ../current_filter.identifier 'my'}}
                  {{date created_at timeago=true}}
                {{else}}
                  {{requester.name}}
                {{/is}}
              </td>
              <td class="lt-my-activities-items__col lt-my-activities-item__meta">
                {{date updated_at timeago=true}}
              </td>
              <td class="lt-my-activities-items__col lt-my-activities-item__meta">
                <span class="lt-request-status lt-request-status--{{status}}" title="{{status_description}}">
                  {{status_name}}
                </span>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      {{pagination}}
    {{else}}
      <p>{{t 'no_requests'}}</p>
    {{/if}}
  </div>
</div>
{{/if}}