<div class="lt-start-screen-wrap lt-container">
  <div class="lt-hero-unit__bg lt-behind" data-hero-bg></div>
  <div class="lt-container-inner lt-text-center lt-text-md-start">
    <div class="lt-breadcrumbs-wrapper lt-breadcrumb-last lt-pt-lg-5 lt-pb-lg-5">{{breadcrumbs}}</div>
    <div class="lt-row lt-align-items-sm-center lt-mt-1">
      <div class="lt-search-box lt-search-box--small lt-search-box--icon lt-mb-4 lt-col-sm-12 lt-col-lg-4 lt-align-self-lg-start lt-d-print-none">
          {{search instant=true submit=false placeholder=settings.search_placeholder}}
      </div>
      <div class="lt-page__heading lt-col-sm-12 lt-col-lg-8 lt-mt-3 lt-mt-lg-0">
        <h1 class="lt-page__title lt-mb-3 lt-order-md-0">{{section.name}}</h1>
        {{#if section.description}}
        <p class="lt-page__desc">{{section.description}}</p>
        {{/if}}
      </div>
    </div>
  </div>
</div>

<div class="lt-main-content">
  <div class="lt-padding-gen">

    {{!-- Info box --}}
    {{#if settings.show_info_block}}
      {{#is settings.show_info_block_all_page true}}
        <div class="lt-container lt-pt-5 lt-pt-lg-0 lt-pb-7 lt-pb-lg-9">
          <div class="lt-container-inner rte info-block" id="info-block">
            <div class="callout 
              {{#is settings.info_block_severity 'info'}}callout--info{{/is}}
              {{#is settings.info_block_severity 'warning'}}callout--warning{{/is}}
              {{#is settings.info_block_severity 'success'}}callout--success{{/is}}
              {{#is settings.info_block_severity 'danger'}}callout--danger{{/is}}">
              <h4 class="callout__title">{{settings.info_block_title}}</h4>
              <p>{{settings.info_block_text}}</p>
            </div>
          </div>
        </div>
      {{/is}}
    {{/if}}

    {{!-- Section Articles --}}
    <div class="lt-container" id="main-content">
      <div class="lt-container-inner">
        <section aria-labelledby="sectionHeading-articles" class="lt-pb-5 lt-pb-lg-9" id="section-articles-list">
          
          {{#if settings.show_section_title}}
            <div class="lt-section-heading lt-mb-6 lt-mb-lg-9">
              <h2 id="sectionHeading-articles" class="lt-section-heading__title lt-fs-2 lt-m-0">{{settings.section_title}}</h2>
            </div>
          {{/if}}  

          {{#if section.articles}}
            <ul class="lt-custom-block-list lt-p-0 lt-mb-0 lt-row lt-row-cols-md-{{settings.section_articles_per_line}}">
              {{#each section.articles}}
                <li class="lt-custom-block-item lt-d-flex lt-section-stretch">
                  <a href="{{url}}" class="lt-w-100">
                    <article
                      class="lt-custom-block-item__card-stretch lt-block lt-block--shadow lt-p-4 lt-d-flex lt-w-100 lt-h-100 lt-position-relative">
                      <h3 class="lt-custom-block-item__title lt-mb-0 lt-fs-5">{{title}}</h3>
                      <div class="read-article">
                        <span class="read-article-stretch--link">{{../settings.section_articles_read_button}}</span>
                      </div>
                    </article>
                  </a>
                </li>
              {{/each}}
            </ul>
            {{!-- TODO pagination limit --}}
            {{pagination "section.articles"}}
          {{else}}
            {{!-- TODO change with: non ci sono .....  --}}
            <p>{{t 'empty'}}</p>
          {{/if}}

        </section>
      </div>
    </div>
  </div>   

  {{!-- Contact Request --}}
  {{#if settings.toggle_contact_request_section}}
    <div class="lt-container lt-pt-7 lt-pt-md-9 lt-pb-9" id="footer-submit-ticket">
      <div class="lt-container-inner">
        <section aria-labelledby="sectionHeading-contacts">
            <div class="lt-section-heading lt-mb-4">
              <h2 id="sectionHeading-contacts" class="lt-section-heading__title lt-fs-2 lt-m-0">
                {{#if settings.toggle_translations}}
                  {{dc settings.contact_request_section_title}}
                {{else}}
                  {{settings.contact_request_section_title}}
                {{/if}}
              </h2>
            </div>
            <div class="lt-contact-request lt-block lt-block--shadow lt-py-5 lt-px-4 lt-d-md-flex lt-justify-content-md-between lt-pt-md-7 lt-pb-md-7 lt-px-md-7 lt-align-items-center">
              <div class="lt-contact-request__illustration lt-order-md-2 lt-d-none lt-d-md-block">
                <img src="{{ settings.contact_request_image }}" class="lt-contact-request__img" aria-hidden="true">
              </div>
              <div class="lt-contact-request__text lt-order-md-1x lt-d-md-flex lt-flex-md-column lt-justify-content-md-between">
                <div class="lt-contact-request__heading lt-flex-md-grow-1">
                  <h3 class="lt-contact-request__title lt-fs-3 lt-mb-3">
                    {{#if settings.toggle_translations}}
                      {{dc settings.contact_request_title}}
                    {{else}}
                      {{settings.contact_request_title}}
                    {{/if}}
                  </h3>
                  <span class="lt-contact-request__descr lt-d-inline-block" format-text>
                    {{#if settings.toggle_translations}}
                      {{dc settings.contact_request_subtitle}}
                    {{else}}
                      {{settings.contact_request_subtitle}}
                    {{/if}}
                  </span>
                </div>
                <div class="lt-d-block lt-d-lg-none lt-btn lt-btn--square lt-btn--light" onclick="openIOApp()" id="open-io-app-cta">
                  {{settings.contact_request_btn_text}}
                  <span aria-hidden="true" id="open-app-spinner" class="lt-d-none ml-1"><div class="fas fa-circle-notch fa-spin fa-fw"></div></span>
                </div>
                {{!-- {{link 'new_request' class='lt-contact-request__link lt-btn lt-btn--primary'}} --}}
              </div>
            </div>
          </section>
      </div>
    </div>
  {{/if}} 
</div>

{{!-- TODO include other sections customizing lotus-category-menu.js script --}}
