<div class="lt-container">
  <div class="lt-container-inner">
    <header class="lt-profile-header lt-mb-8 lt-mt-4 lt-mt-lg-7" id="main-content">
      <div class="lt-profile-header__avatar">
        <div class="lt-avatar {{#if user.agent}}lt-avatar--agent{{/if}}">
          <img class="lt-user-avatar lt-user-avatar--profile" src="{{user.avatar_url}}" />
        </div>
      </div>

      <h1 class="lt-profile-header__name">
        {{#if user.url}}
        <a href="{{user.url}}" target="_zendesk_lotus" title="{{t 'open_user_in_support'}}">{{user.name}}</a>
        {{else}}
        {{user.name}}
        {{/if}}
      </h1>

      {{#if description}}
      <p class="lt-profile-header__description">{{description}}</p>
      {{/if}}

      {{#if user.badges}}
      <div>
        {{#each user.badges}}
        {{#is category_slug "titles"}}
        <span class="lt-community-badge lt-community-badge-titles lt-d-inline-block lt-mb-1 lt-mb-md-3 "
          title="{{description}}" aria-label="{{name}}">
          {{#if icon_url}}
          <img src="{{icon_url}}" />
          {{/if}}
          {{name}}
        </span>
        {{/is}}
        {{/each}}

        <br>
        <div class="lt-profile-header__badge">
          {{#each user.badges}}
          {{#is category_slug "achievements"}}
          {{#if icon_url}}
          <div class="lt-community-badge lt-community-badge-achievements tooltip">
            <img src="{{icon_url}}" alt="{{name}}" title="{{name}} | {{description}}" aria-label="{{name}}" />
            <span class="tooltiptext">{{name}}</span>
          </div>
          {{/if}}
          {{/is}}
          {{/each}}
        </div>
      </div>
      {{/if}}

      {{#if private_profile}}
      <span class="lt-status-label lt-profile-header__private-badge">{{t 'private'}}</span>
      {{/if}}

      <ul class="lt-list-unstyled lt-meta lt-profile-stats lt-mt-md-4">
        <li class="lt-meta__item lt-profile-stats__stat">
          <span class="lt-profile-stats__label">{{t 'total_activity'}}</span>
          <span class="lt-profile-stats__value">{{total_activity}}</span>
        </li>
        <li class="lt-meta__item lt-profile-stats__stat">
          <span class="lt-profile-stats__label">{{t 'last_activity'}}</span>
          <span class="lt-profile-stats__value">
            {{#if last_activity_at}}
            {{date last_activity_at timeago=true}}
            {{else}}
            {{t 'no_activity_yet'}}
            {{/if}}
          </span>
        </li>
        <li class="lt-meta__item lt-profile-stats__stat">
          <span class="lt-profile-stats__label">{{t 'member_since'}}</span>
          <span class="lt-profile-stats__value">
            {{#if member_since}}
            {{date member_since timeago=true}}
            {{else}}
            {{t 'no_activity_yet'}}
            {{/if}}
          </span>
        </li>
      </ul>

      <ul class="lt-list-unstyled lt-meta lt-profile-stats">
        <li class="lt-meta__item lt-profile-stats__stat">
          <span class="lt-profile-stats__label">{{t 'following'}}</span>
          <span class="lt-profile-stats__value">{{t 'users_count' count=following_count}}</span>
        </li>
        <li class="lt-meta__item lt-profile-stats__stat">
          <span class="lt-profile-stats__label">{{t 'followed_by'}}</span>
          <span class="lt-profile-stats__value">{{t 'users_count' count=follower_count}}</span>
        </li>
        <li class="lt-meta__item lt-profile-stats__stat">
          <span class="lt-profile-stats__label">{{t 'votes'}}</span>
          <span class="lt-profile-stats__value">{{vote_count}}</span>
        </li>
        <li class="lt-meta__item lt-profile-stats__stat">
          <span class="lt-profile-stats__label">{{t 'subscriptions'}}</span>
          <span class="lt-profile-stats__value">{{subscription_count}}</span>
        </li>
      </ul>

      <div class="lt-profile__buttons lt-my-md-4 lt-d-flex lt-justify-content-center">
        {{subscribe}}
        {{actions}}
      </div>
    </header>

    {{#if visible}}
    {{#if member_since}}
    <nav class="lt-profile-nav">
      <ul class="lt-list-unstyled lt-profile-nav__items">
        {{#each filters}}
          {{#if selected}}
            <li class="lt-profile-nav__item is-active" aria-selected="true">
              {{name}}</li>
          {{else}}
            <li class="lt-profile-nav__item"><a href="{{url}}">{{name}}</a>
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </nav>

    {{#is current_filter.identifier 'activities'}}
          {{#if activities}}
            <section class="lt-profile-section">
              <header class="lt-profile-section__header">
                <h2 class="lt-profile-section__title">{{t 'activity_overview'}}
                </h2>
                <span
                      class="lt-profile-section__description">{{t 'latest_activity' name=user.name}}</span>
              </header>

              <ul class="lt-list-unstyled lt-profile-activity-list">
                {{#each activities}}
                  <li class="lt-profile-activity profile-activity--{{type}}">
                    <header class="lt-profile-activity__header">
                      {{label}}
                    </header>

                    {{#with contribution}}
                      <div class="lt-profile-contribution">
                        <header class="lt-profile-contribution__header">
                          {{#isnt status 'none'}}
                            <div class="lt-profile-contribution__status">
                              <span
                                    class="lt-status-label lt-status-label--{{status_dasherized}}">{{status_name}}</span>
                            </div>
                          {{/isnt}}

                          {{#if pending}}
                            <div class="lt-profile-contribution__status">
                              <span
                                    class="lt-status-label lt-status-label--pending">{{t 'pending_approval'}}</span>
                            </div>
                          {{/if}}

                          {{#if official}}
                            <div class="lt-profile-contribution__status">
                              <span
                                    class="lt-status-label lt-status-label--official">{{t 'official_comment'}}</span>
                            </div>
                          {{/if}}

                          {{#isnt object_type 'comment'}}
                            <h3 class="lt-profile-contribution__title"><a
                                 href="{{url}}">{{title}}</a></h3>
                          {{/isnt}}
                        </header>

                        <ol
                            class="breadcrumbs lt-profile-contribution__breadcrumbs">
                          {{#each path_steps}}
                            <li title="{{name}}"><a href="{{url}}">{{name}}</a>
                            </li>
                          {{/each}}
                        </ol>

                        {{#if body}}
                          <p class="lt-profile-contribution__body">
                            {{excerpt body characters=200}}</p>
                        {{/if}}

                        <ul class="lt-list-unstyled lt-meta lt-meta--profile">
                          {{#is object_type 'comment'}}
                            <li class="lt-meta__item">
                              <a class="comment-link"
                                 href="{{url}}">{{t 'view_comment'}}</a>
                            </li>
                          {{/is}}
                          {{#if editor}}
                            <li class="lt-meta__item">
                              {{t 'edited'}} {{date edited_at timeago=true}}
                            </li>
                          {{/if}}
                          {{#each stats}}
                            <li class="lt-meta__item">{{label}}</li>
                          {{/each}}
                        </ul>
                      </div>
                    {{/with}}
                  </li>
                {{/each}}
              </ul>
            </section>
          {{/if}}

          {{#unless activities}}
            <p class="lt-profile__no-activity">{{t 'no_contributions'}}</p>
          {{/unless}}
        {{/is}}

        {{#is current_filter.identifier 'badges'}}
          <section class="lt-profile-section__header">

            {{#if user.badges}}
              <header class="lt-profile-section__header">
                <h2 class="lt-profile-section__title">{{t 'badges'}}</h2>
                <span
                      class="lt-profile-section__description">{{t 'badges_description' name=user.name}}</span>
              </header>

              <ul class="lt-list-unstyled lt-row lt-row-cols-md-3">
                {{#each user.badges}}
                  <li class="lt-d-flex lt-text-center" role="region"
                      aria-labelledby="title-{{id}}"
                      aria-describedby="desc-{{id}}">
                    <div
                         class="lt-d-flex lt-flex-column lt-align-items-center lt-p-4 lt-profile-badge-item lt-w-100 lt-mb-5 ">
                      <div class="lt-profile-badge lt-mb-4 ">
                        {{#if icon_url}}
                          <img class="lt-profile-badge_image" src="{{icon_url}}" />
                        {{/if}}
                      </div>
                      <div>
                        <div id="title-{{id}}" class="h4 lt-mb-2">
                          {{name}}
                        </div>
                        <p id="desc-{{id}}">
                          {{description}}
                        </p>
                      </div>
                      <div class="lt-meta">
                        <b>
                          {{t 'badges_awarded'}}
                        </b>
                        <p class="lt-mb-0">
                          {{date assigned_at format='medium'}}
                        </p>
                      </div>
                    </div>
                  </li>
                {{/each}}
              </ul>
            {{else}}
              <span class="no-activity">{{t 'no_badges'}}</span>
            {{/if}}
          </section>
        {{/is}}

    {{#isnt current_filter.identifier 'activities'}}
          {{#isnt current_filter.identifier 'badges'}}
            <section class="lt-profile-section">
              {{#if contributions}}
                <header class="lt-profile-section__header">
                  <h2 class="lt-profile-section__title">
                    {{t current_filter.identifier}}</h2>
                  {{#if sorters}}
                    <div
                         class="lt-profile-section-sorter lt-d-sm-flex lt-justify-content-between lt-align-items-center">
                      <div
                           class="lt-profile-section__description lt-pe-sm-4 lt-mb-2 lt-mb-sm-0">
                        {{sorter_description}}</div>
                      <div class="lt-dropdown">
                        <span class="lt-btn lt-btn--default lt-dropdown-toggle">
                          {{current_sorter.label}}
                        </span>
                        <span class="lt-dropdown-menu" role="menu">
                          {{#each sorters}}
                            <a href="{{url}}" aria-selected="{{selected}}"
                               role="menuitem">
                              {{name}}
                            </a>
                          {{/each}}
                        </span>
                      </div>
                    </div>
                  {{/if}}
                </header>

                <ul
                    class="lt-list-unstyled lt-profile-activity-list lt-profile-activity-list--{{current_filter.identifier}}">
                  {{#each contributions}}
                    <li class="lt-profile-activity">
                      <div
                           class="lt-profile-contribution profile-contribution--list">
                        <header class="lt-profile-contribution__header">
                          {{#isnt status 'none'}}
                            <div class="lt-profile-contribution__status">
                              <span
                                    class="lt-status-label lt-status-label--{{status_dasherized}}">{{status_name}}</span>
                            </div>
                          {{/isnt}}

                          {{#if pending}}
                            <div class="lt-profile-contribution__status">
                              <span
                                    class="lt-status-label lt-status-label--pending">{{t 'pending_approval'}}</span>
                            </div>
                          {{/if}}

                          {{#if official}}
                            <div class="lt-profile-contribution__status">
                              <span
                                    class="lt-status-label lt-status-label--official">{{t 'official_comment'}}</span>
                            </div>
                          {{/if}}

                          {{#isnt object_type 'comment'}}
                            <h3 class="lt-profile-contribution__title"><a
                                 href="{{url}}">{{title}}</a></h3>
                          {{/isnt}}
                        </header>

                        <ol
                            class="breadcrumbs lt-profile-contribution__breadcrumbs">
                          {{#each path_steps}}
                            <li title="{{name}}"><a href="{{url}}">{{name}}</a>
                            </li>
                          {{/each}}
                        </ol>

                        <p class="lt-profile-contribution__body">
                          {{excerpt body characters=200}}</p>

                        <ul class="lt-list-unstyled lt-meta lt-meta--profile">
                          {{#is object_type 'comment'}}
                            <li class="lt-meta__item">
                              <a class="comment-link"
                                 href="{{url}}">{{t 'view_comment'}}</a>
                            </li>
                          {{/is}}
                          <li class="lt-meta__item">
                            {{#if editor}}
                              {{t 'edited'}} {{date edited_at timeago=true}}
                            {{else}}
                              {{t 'created'}} {{date created_at timeago=true}}
                            {{/if}}
                          </li>
                          {{#each stats}}
                            <li class="lt-meta__item">{{label}}</li>
                          {{/each}}
                        </ul>
                      </div>
                    </li>
                  {{/each}}
                </ul>

                {{pagination}}
              {{/if}}

              {{#unless contributions}}
                <p class="lt-profile__no-activity">{{t 'no_contributions'}}</p>
              {{/unless}}
            </section>
          {{/isnt}}
        {{/isnt}}
      {{/if}}

      {{#unless member_since}}
        <p class="lt-profile__no-activity">{{t 'no_content_yet'}}</p>
      {{/unless}}
    {{/if}}

    {{#unless visible}}
      <p class="lt-profile__private-activity">{{t 'private_activity'}}</p>
    {{/unless}}
  </div>
</div>
