<a class="lt-skip-navigation" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>
<div class="lt-layout">
  <header class="lt-topbar lt-container lt-py-4 lt-d-print-none" data-topbar>
    <div class="lt-container-inner-header lt-topbar__wrap lt-d-flex lt-align-items-center lt-justify-content-between lt-w-100 lt-position-relative">
        {{#link 'help_center' class="lt-no-hover-color"}}
        <div class="lt-d-flex lt-align-items-center">
          <img class="lt-topbar__logo" src="{{settings.logo}}" alt="Vai alla home del centro assistenza IO">
          {{#if settings.show_help_center_name}}
            <div class="lt-ms-3 lt-color-inverse-primary" style="margin-top: 2px;">
              {{#if settings.toggle_translations}}
              {{dc settings.help_center_name}}
              {{else}}
              {{settings.help_center_name}}
              {{/if}}
            </div>
          {{/if}}
        </div>
        {{/link}}

      {{#if signed_in}}
        {{!-- Mobile menu toggle --}}
        <button class="lt-menu-toggle" aria-label="{{t 'toggle_navigation'}}" aria-controls="user-nav" type="button"
          x-data="{}" x-bind:aria-expanded="$store.mobileMenu.isOpen" x-bind:class="{'is-active': $store.mobileMenu.isOpen}"
          x-on:click="$store.mobileMenu.isOpen = !$store.mobileMenu.isOpen"
          x-on:keydown.escape="$store.mobileMenu.isOpen = false">
          <span></span>
        </button>

        {{!-- Desktop nav menu --}}
        <nav
          class="lt-topbar__controls lt-d-flex lt-flex-column lt-align-items-start lt-flex-lg-row lt-justify-content-lg-end lt-flex-lg-grow-1 lt-align-items-lg-center"
          id="user-nav" x-data="{}" x-bind:aria-expanded="$store.mobileMenu.isOpen"
          x-bind:class="{'is-active': $store.mobileMenu.isOpen}" x-on:keydown.escape="$store.mobileMenu.isOpen = false">
          <div class="lt-topbar__right">
            {{!-- Sign out --}}
            <a href="#" type="button" id="btn-logout" class="lt-btn lt-btn--light"><i class="fa-solid fa-right-from-bracket lt-me-2" aria-hidden="true"></i> Esci</a>
          </div>
        </nav>
      {{/if}}

    </div>
    <div class="lt-topbar__line"></div>
  </header>

<div>
