 <div class="lt-hero-unit lt-container">
  <div class="lt-hero-unit__bg" data-hero-bg aria-hidden="true"></div>
    <div class="lt-container-inner lt-hero-unit__wrapper lt-d-flex lt-flex-column lt-flex-lg-row lt-justify-content-lg-between">
      <div class="lt-hero-unit__content lt-flex-lg-grow-1">
        {{!-- Title --}}
        <h1 class="lt-hero-unit__title lt-mb-3">
          {{#if settings.hero_title_hello}}
            {{settings.hero_title_hello}}
            <br>
          {{/if}}

          {{#if settings.toggle_translations}}
            {{dc settings.hero_title}}
          {{else}}
            {{settings.hero_title}}
          {{/if}}
        </h1>

        {{!-- TODO for no wide screen (galaxy z fold) there is a placeholder overflow --> make a js that truncate the placeholder in these cases --}}
        {{!-- Search Bar --}}
        <div class="lt-hero-unit__search-box lt-search-box-lg--icon lt-search-box lt-mt-6 lt-d-print-none lt-d-flex lt-justify-content-center {{#unless settings.show_popular_searches}}lt-mb-10{{/unless}}">
          {{search instant=true placeholder=settings.search_placeholder_home submit=settings.show_hero_unit_button}}
        </div>

        {{!-- Popular Categories --}}
        {{#if settings.show_popular_searches}}
          <div class="lt-hero-unit__topics lt-search-topic lt-mt-5 lt-mb-lg-0 lt-justify-content-center lt-d-flex">
            <div class="lt-align-content-center popular-searches-label">
            {{#if settings.toggle_translations}}
              {{dc settings.popular_searches_label}}
            {{else}}
              {{settings.popular_searches_label}}
            {{/if}}</div>
            <span class="lt-align-content-center" x-data="Theme.popularCategories()" x-cloak>
              <template x-for="(item, index) in items" :key="index">
                <a class="badge" :href="item.link" x-text="item.categoryName"></a>
              </template>
            </span>
          </div>
        {{/if}}
      </div>

    </div>
</div>

<div class="lt-main-content lt-bg-light">

    {{!-- Info box --}}
    {{#if settings.show_info_block}}
      <div class="lt-container lt-pt-5 lt-pt-lg-0 lt-pb-7 lt-pb-lg-9">
        <div class="lt-container-inner rte info-block" id="info-block" role="region" aria-labelledby="banner-title">
          <div class="callout 
            {{#is settings.info_block_severity 'info'}}callout--info{{/is}}
            {{#is settings.info_block_severity 'warning'}}callout--warning{{/is}}
            {{#is settings.info_block_severity 'success'}}callout--success{{/is}}
            {{#is settings.info_block_severity 'danger'}}callout--danger{{/is}}">
            <h4 class="callout__title" id="banner-title">{{settings.info_block_title}}</h4>
            <p format-text>{{settings.info_block_text}}</p>
          </div>
        </div>
      </div>
    {{/if}}

    {{#if settings.toggle_promoted_articles}}
      <div class="lt-container" id="promoted-articles">
        <div class="lt-container-inner">
          <section aria-labelledby="sectionHeading-promotedArticles" class="lt-pb-5 lt-pb-lg-9" id="promoted-articles-list">
            <div class="lt-section-heading lt-mb-4 lt-mb-lg-6">
              <h2 id="sectionHeading-promotedArticles" class="lt-section-heading__title lt-fs-2 lt-m-0">{{settings.promoted_articles_title}}</h2>
            </div>
            {{#if promoted_articles}}
              <ul class="lt-custom-block-list lt-p-0 lt-mb-0 lt-row lt-row-cols-md-{{settings.promoted_articles_per_line}} lt-gy-5" role="list">
                {{#each promoted_articles}}
                  {{#if (compare @index "<" 3) }}
                    <li class="lt-custom-block-item lt-d-flex" role="listitem">
                      <a href="{{url}}" aria-label="Apri articolo {{title}}">
                        <article
                          class="lt-custom-block-item__card lt-block lt-block--shadow lt-p-4 lt-p-lg-5 lt-d-flex lt-w-100 lt-h-100 lt-position-relative">
                          <h3 class="lt-custom-block-item__title lt-mb-3 lt-fs-5">{{title}}</h3>
                          <span class="lt-custom-block-item__desc lt-fs-6 lt-mb-3">{{excerpt body characters=120}}</span>
                          <div class="read-article">
                            <span>{{../settings.popular_articles_read_button}}</span>
                          </div>
                        </article>
                      </a>
                    </li>
                    </a>
                  {{/if}}
                {{/each}}
              </ul>
            {{else}}
              <p class="no-content">{{t 'no_content'}}</p>
            {{/if}}
          </section>
        </div>
      </div>
    {{/if}}

    <div id="main-content" role="main"> {{!-- Wrapper element to avoid margin collapse --}}
      {{!-- Sections and Categories --}}
      <div class="lt-container lt-block-list" id="block-list">
        <div class="lt-container-inner">
          <section aria-labelledby="sectionHeading-sections" class="lt-pb-5 lt-pb-lg-9 lt-pt-7 lt-pt-lg-9" id="section-list">
            <div class="lt-section-heading lt-mb-4 lt-mb-lg-6">
              <h2 id="sectionHeading-sections" class="lt-section-heading__title lt-fs-2 lt-m-0">
                {{#if settings.toggle_translations}}
                  {{dc settings.categories_boxes_title}}
                {{else}}
                  {{settings.categories_boxes_title}}
                {{/if}}
              </h2>
            </div>
            <ul class="lt-block-list lt-list-unstyled lt-row lt-row-cols-md-{{settings.categories_per_line}} lt-gy-5 lt-mb-0" role="list">
              {{#each categories}}
                {{#if ../has_multiple_categories}}
                  <p></p>
                {{else}}
                  {{#each sections}}
                  <li class="lt-block-list-item lt-d-flex" role="listitem">
                    <a href="{{url}}" class="lt-block-list-item__link lt-block lt-d-flex lt-flex-column lt-p-4 lt-p-lg-5 lt-w-100" aria-label="Apri categoria {{name}}">
                      <div class="header-category-cards">
                        <div class="category-icon-container category-icon-wrapper" data-id="{{id}}" aria-hidden="true"></div>
                        <h3 class="lt-block-list-item__title lt-fs-5 lt-fw-bold lt-my-auto">{{name}}</h3>
                      </div>
                      <p class="lt-block-list-item__text lt-fs-lg-6">{{description}}</p>
                    </a>
                  </li>
                  {{/each}}
                {{/if}}
              {{/each}}
            </ul>
          </section>
        </div>
      </div>
    </div>

    {{!-- More Help Center --}}
    {{!-- {{#if settings.toggle_more_products}}
      <div class="lt-container lt-mt-md-5 lt-pt-5 lt-pt-md-9" id="contact-boxes">
        <div class="lt-container-inner">
          <section aria-labelledby="sectionHeading-moreHC" class="lt-pb-9">
            <ul class="lt-list-unstyled lt-row lt-row-cols-md-1 lt-contact-info__list lt-p-0 lt-gy-5">
              <div class="lt-align-content-center lt-col-lg-6">
                <h2 id="sectionHeading-moreHC" class="lt-section-heading__title lt-fs-2 lt-m-0">
                  {{#if settings.toggle_translations}}
                    {{dc settings.more_product_boxes_title}}
                  {{else}}
                    {{settings.more_product_boxes_title}}
                  {{/if}}
                </h2>
              </div>

              {{#if settings.more_product_box_1_toggle}}
              <li class="lt-d-md-flex lt-flex-grow-1 lt-col-lg-3">
                <article
                  class="lt-more-products-card lt-flex-column lt-block lt-block--shadow lt-position-relative lt-p-4 lt-p-lg-5 lt-d-flex lt-w-100">
                  <img class="lt-more-products-card__icon lt-mb-5" data-svg src="{{settings.more_product_box_1_icon}}" aria-hidden="true">
                  <h3 class="lt-more-products-card__title lt-fs-4 lt-mb-2">
                    <a class="lt-more-products-card__link" href="
                      {{#if settings.toggle_translations}}
                        {{dc settings.more_product_box_1_url}}
                      {{else}}
                        {{settings.more_product_box_1_url}}
                      {{/if}}">

                      {{#if settings.toggle_translations}}
                        {{dc settings.more_product_box_1_title}}
                      {{else}}
                        {{settings.more_product_box_1_title}}
                      {{/if}}
                    </a>
                  </h3>
                </article>
              </li>
              {{/if}}

              {{#if settings.more_product_box_2_toggle}}
              <li class="lt-d-md-flex lt-flex-grow-1 lt-col-lg-3">
                <article
                  class="lt-more-products-card lt-flex-column lt-block lt-block--shadow lt-position-relative lt-p-4 lt-p-lg-5 lt-d-flex lt-w-100">
                  <img class="lt-more-products-card__icon lt-mb-5" data-svg src="{{settings.more_product_box_2_icon}}" aria-hidden="true">
                  <h3 class="lt-more-products-card__title lt-fs-4 lt-mb-2">
                    <a class="lt-more-products-card__link" href="
                      {{#if settings.toggle_translations}}
                        {{dc settings.more_product_box_2_url}}
                      {{else}}
                        {{settings.more_product_box_2_url}}
                      {{/if}}">

                      {{#if settings.toggle_translations}}
                        {{dc settings.more_product_box_2_title}}
                      {{else}}
                        {{settings.more_product_box_2_title}}
                      {{/if}}
                    </a>
                  </h3>
                </article>
              </li>
              {{/if}}
            </ul>

          </section>
        </div>
      </div>
    {{/if}} --}}

    {{#if settings.toggle_contact_request_home}}
    <div class="lt-container lt-pt-7 lt-pb-9" id="contacts">
        <div class="lt-container-inner">
          <section aria-labelledby="sectionHeading-contacts">
            <div class="lt-section-heading lt-mb-4">
              <h2 id="sectionHeading-contacts" class="lt-section-heading__title lt-fs-2 lt-m-0">
                {{#if settings.toggle_translations}}
                  {{dc settings.contact_request_section_title}}
                {{else}}
                  {{settings.contact_request_section_title}}
                {{/if}}
              </h2>
            </div>
            <div class="lt-contact-request lt-block lt-py-4 lt-px-4 lt-d-md-flex lt-justify-content-md-between lt-pt-md-4 lt-pb-md-4 lt-px-md-4">
              
              <div class="lt-contact-request-bg lt-block lt-py-5 lt-px-4 lt-d-md-flex lt-justify-content-md-between lt-pt-md-5 lt-pb-md-5 lt-px-md-7 lt-align-items-center">
                <div class="lt-contact-request__text lt-order-md-1x lt-d-md-flex lt-flex-md-column lt-justify-content-md-between">
                  <div class="lt-contact-request__heading lt-flex-md-grow-1">
                    <h3 class="lt-mb-2">{{settings.contact_request_title}}</h3>
                  </div>
                  <span class="lt-contact-request__descr lt-d-inline-block" format-text>
                    {{settings.contact_request_subtitle}}
                  </span>
                  <a class="lt-d-block lt-btn lt-btn--square lt-btn--light lt-mt-4" href="{{settings.contact_request_btn_link}}">
                    {{settings.contact_request_btn_text}}
                  </a>
                </div>
              </div>

              <div class="lt-contact-request no-border lt-block lt-py-5 lt-px-4 lt-d-md-flex lt-justify-content-md-between lt-pt-md-5 lt-pb-md-5 lt-px-md-7 lt-mt-3 lt-mt-md-0 lt-align-items-center">
                <div class="lt-contact-request__text lt-order-md-1x lt-d-md-flex lt-flex-md-column lt-justify-content-md-between">
                  <div class="lt-flex-md-grow-1 lt-mb-4">
                    <h3>{{settings.contact_request_other_title}}</h3>
                    <span class="lt-contact-request__descr-grey lt-d-inline-block" format-text>
                      {{settings.contact_request_other_subtitle}}
                    </span>
                  </div>
                  <div class="lt-contact-request__descr lt-d-inline-block">
                    <a class="arrow-link" href="{{settings.contact_request_other_btn_link}}">
                      <span>{{settings.contact_request_other_btn_text}}</span>
                    </a>
                  </div>
                </div>
              </div>


            </div>
          </section>
        </div>
      </div>
      {{/if}}
</div>